body, html {
  height: 100%;
  font-family: 'Roboto';
  color : #1c1c1c;
}

body{
  overflow-x: hidden;
}

.containerglobal{
  margin-bottom: 100px;
}


.container1 {
 float: left;
 width: 33.3%;
}

.container2 {
 float: left;
 width: 66.6%;
}

@media screen and (max-width:600px) {
  .container1 {
    width: 100%;
  }
  .container2 {
    width: 100%;
  }
}

input[type=text],input[type=email], input[type=url],input[type=tel] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number]{
  width: 5%;
  padding: 12px 0;
  padding-left: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 33%;
  background-color: #ff8114;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  -webkit-appearance: none;
}


#bouti select{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#Livraison,#livraison_inter {
  display: none;
}

.section1 {
  background-color: #f9f8f7;
  padding: 20px 15px 30px 15px;
  margin : 0 -15px 0 -15px;
}

.section2 {
  background-color: #1a1a1a;
  color:white;
  padding: 20px 15px 30px 15px;
  margin : 0 -15px 0 -15px;
}

.section3 {
  background-color: #f9f8f7;
  padding: 20px 15px 30px 15px;
  margin : 0 -15px 0 -15px;
}

.section4 {
  background-color: #1a1a1a;
  color: white;
  padding: 20px 15px 30px 15px;
  margin : -15px -15px 0 -15px;
}

.section5 {
  background-color: #1a1a1a;
  color: white;
  padding: 20px 15px 30px 15px;
  margin : 0 -15px 0 -15px;
}

.bottom_submit {
  background-color: #f9f8f7;
  padding: 20px 15px 30px 15px;
  margin : 0 -15px 0 -15px;

}

hr {
  border: none;
  border-top:5px dashed #ee8434;
}

h2 {
  padding-top: 20px;
}

input[type=submit].bouton_parti {
  margin-top: 40px;
margin-bottom: 20px;
  -webkit-appearance: none;
}


a{
  color: #ff8114;
}

a:hover{
  color: #ff8114;
}

a:visited{
  color: #ff8114;
}

#intro p{
  padding-left: 27px;
}

#intro li{
padding-bottom:10px;
}

.container1 li{
  margin-bottom: 15px;
}

#intro a, a:hover a:visited{
color: #ff8114;
text-decoration: underline;
}
